<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/favicon.ico">
    <title><%- config.title%></title>
    <link rel="stylesheet" href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css">
    <link rel="stylesheet" href="/themes/tailwind/css/style.css">
    <link rel="stylesheet" href="/themes/tailwind/public/build/tailwind.css">
    <%- css('public/build/css/tailwind.css') %>
    <%- css('css/tailwind.css') %>
</head>