* {
  box-sizing: border-box;
}

body,
p {
  padding: 0;
  margin: 0;
  font-family: 'Avenir', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Helvetica Neue', Arial, sans-serif;
}

ol,
p,
ul {
  line-height: 1.7em;
}

ol,
pre,
ul {
  margin: 0 0 20px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

h2 {
  margin: 0;
}

@media (prefers-color-scheme: dark) {
  body,
  body input {
    background-color: #1e2227;
    color: #fff;
  }
}

::selection {
  background: #cbe7a6;
  color: #000;
  display: block;
}

.header-strip {
  background-color: #2c2b2b;
  color: white;
  font-weight: 700;
  font-size: 1.5rem;
  text-align: center;
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 0 0 -20px;
}

.sidebar_img-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 0 0 0;
}

.sidebar_img-container .sidebar_img {
  width: 96px;
  height: 96px;
  object-fit: cover;
  border-radius: 100%;
}

.sidebar_title-text {
  font-size: medium;
  font-weight: 500;
  margin: 20px 0 10px 0;
  text-align: center;
}

.sidebar_email {
  color: #718096;
  font-size: large;
  text-decoration: none;
  text-align: center;
}

.sidebar_email:hover {
  text-decoration: underline;
}

.searchbar {
  border: 1px solid #3c3b3b;
  padding: 5px;
  margin: 48px 0;
  font-size: 100%;
}

input::placeholder {
  color: #737376;
  background-color: transparent;
}

.sidebar_menu {
  display: flex;
  justify-content: center;
  margin: 0;
  width: 60%;
}

.sidebar_menu .menu_item {
  padding: 16px 8px 16px 16px;
  color: #fafafa;
  text-decoration: none;
  width: 80%;
}

.sidebar_menu .menu_item i {
  margin: 0 28px 0 20px;
}

.sidebar_menu .menu_item:hover {
  background-color: #2d3748;
}

.sidebar_social {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  width: 85%;
}

.sidebar_social .social-link {
  width: 60%;
  color: white;
  text-decoration: none;
  margin: 20px 0 20px 0;
}

.sidebar_social .social-link span {
  border-bottom: 1px dotted;
}

.sidebar_social .social-link .fa {
  margin-right: 0;
}

.sidebar_social .social-link .fa.fa-twitter {
  color: #3182ce;
}

.sidebar_social .social-link .fa.fa-linkedin-square {
  color: #3182ce;
  background-color: #fff;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
}

.sidebar_social .social-link .fa.fa-facebook-square {
  color: #3182ce;
  background-color: #fff;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
}

.sidebar_text {
  width: 80%;
  line-height: 24px;
  font-size: 1em;
  margin: 0 0 20px 0;
}

.sidebar_text a {
  color: white;
  text-decoration: none;
  border-bottom: 1px dotted;
}

.post-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0 0 0;
}

.post {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px dotted #303030;
  line-height: 2.125;
  padding: 16px 12px 16px 12px;
  width: 90%;
}

.post:hover {
  background-color: #282c34;
}

.post h2 {
  margin: 0;
}

.post h2 a {
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 1.2;
  display: inline-block;
  margin: 0;
  font-weight: 900;
}

.post .post_info {
  display: flex;
  flex-direction: column;
}

.post .post_info .post_date {
  font-size: 16px;
  line-height: 2.125;
  text-align: right;
  font-family: 'Inconsolata', monospace;
  display: inline-block;
  padding-top: 0;
}

.post .post_info .post_tag a {
  color: black;
  background-color: #aae45d;
  float: right;
  padding-top: 10px;
  border: none;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 700;
  padding: 10px 10px;
}

.nav {
  width: 100%;
}

.nav-toggle {
  cursor: pointer;
  border: 0;
  width: 3em;
  height: 2em;
  padding: 0em;
  margin-left: 15px;
  border-radius: 50%;
  color: #f2e8e8;
  background-color: #2c2b2b;
  transition: opacity 250ms ease;
  position: absolute;
  left: 0;
}

.nav__list {
  background-color: #282c34;
  color: #fafafa;
}

.nav__link {
  font-size: 15px;
  color: #e1dbdb;
}

.nav-toggle:focus,
.nav-toggle:hover {
  opacity: 0.75;
}

.hamburger {
  width: 50%;
  position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  display: block;
  margin: 0 auto;
  height: 3px;
  background: white;
}

.hamburger::before,
.hamburger::after {
  content: '';
  width: 100%;
}

.hamburger::before {
  transform: translateY(-6px);
}

.hamburger::after {
  transform: translateY(3px);
}

/* made changes here from video
     to make it more accessible.
     
     Works the same :) */
.nav {
  visibility: hidden;
  height: 0;
  position: absolute;
}

.nav--visible {
  visibility: visible;
  height: auto;
  position: relative;
}

.full-article {
  color: white;
  padding: 16px;
}

.article-title a {
  color: white;
  font-size: 28px;
  font-weight: 600;
}

.article-date {
  color: #718096;
}

.article-content {
  color: white;
  width: 90%;
}

.article-content p a {
  color: white;
  word-wrap: break-word;
}

.article-content li a {
  color: white;
  text-decoration: underline;
  word-wrap: break-word;
  line-height: 2;
}

.code pre span.line {
  width: 400px;
  word-wrap: break-word !important;
}
/*# sourceMappingURL=main.css.map */