<!DOCTYPE html>
<html lang="en">
<%- partial('_partial/head') %>
<body>

  <%- partial('_partial/header') %>

  <main class="site-main" id="main-content">
    <%- body %>
  </main>

  <%- partial('_partial/footer') %>

  <script id="dsq-count-scr" src="//chetan-sachdev.disqus.com/count.js" async></script>
</body>
</html>
