<!DOCTYPE html>
<html lang="en">
<%- partial('_partial/head') %>
<body class="">
    <div class="wrapper ">
        <h1 class=""><%- partial('_partial/header') %> </h1>
        
        <div class="container single-post-container has-sidebar  ">
            
            <article class="post-page">
                <%- body %>
            </article>
            <aside class="side-page  ">
                <%- partial('_partial/sidebar.ejs') %>
            </aside>
                
            
        </div>
        
    </div>
    
    
<script id="dsq-count-scr" src="//EXAMPLE.disqus.com/count.js" async></script>
</body>
</html>