body {
    margin: 0;
    background: #fefefe;
    color: #424242;
    font-family: 'Avenir', -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Helvetica Neue", Arial, sans-serif;
    font-size: 20px;
}
@media (prefers-color-scheme: dark){
    body, body input {
       background-color: #1e2227;
       color: #fff;
    }
}
body, html {
    height: 100%;
}
html {
    line-height: 1.15;
}
p{
    margin: 0 0 30px;
}
::selection {
    background: #fff5b8;
    color: #000;
    display: block;
}
#wrapper {
    height: auto;
    min-height: 100%;
    margin-bottom: -265px;
}
div {
    display: block;
}
.single-post-container.has-sidebar {
    display: grid;
    grid-template-columns: 220px auto;
    grid-column-gap: 45px;
    grid-template-areas: "sidebar main";
    max-width: 1200px;
}
.single-post-container {
    margin-top: 70px;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
}
.video-container{
    width:auto;
    height: 494px;
    height: 0;
    overflow: hidden;
    padding-bottom: 56.25%;
    padding-top: 30px;
    padding-left: 10px;
    position: relative;
    border-color: initial;
    border-style: inset;
  
}
.video-container iframe{
    width: auto;
    height: 494px;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
   
}
.container {
    margin: 0 auto;
    max-width: 889px;
    width: 100%;
}
.container, .post-stub, sub, sup {
    position: relative;
}
.single-post-container.has-sidebar article {
    grid-area: main;
}
.single-post-container.has-sidebar aside {
    grid-area: sidebar;
    padding-left: 10px;
    font-size: 1rem;
}
.home-section-col, aside {
    display: block;
    padding-top: 30px;
}
.post-page {
    margin: 0 40px;
}
.hljs, article, aside, blockquote p, details, figcaption, figure, footer, header, img, main, menu, nav, section {
    display: block;
}
div.post-stub {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.post-stub {
    overflow-wrap: break-word;
    border-bottom: 1px dotted #303030;
    margin: 0;
    display: block;
    padding: 20px 12px;
    height: 163px;
    width: auto;
}
.post-page, p, ul {
    line-height: 1.7em;
}
.item-content{
    width:auto;
    overflow-wrap: break-word;
}
.item-content a{
    border-bottom: 1px dotted;
}
.archive-title{
    font-size: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 1.2;
    font-weight: 900;
} 
.post-page h2 {
    
    font-size: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 1.2;
    
}
.post-title-h2{
    font-weight: 900;
    flex-wrap: wrap;
}
.post-meta{
    display: flex;
    flex-direction: column;
}
@media (prefers-color-scheme: light){
    body, body input {
        background-color: #fff;
        color: #1e2227;
    }
    .post-stub:hover {
    background: #fcf5f5;
    color: #2C2B2B
    }
   
}
.content-post-meta{
    color: #aeadad;
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
    margin: 25px 0 0;
    text-align: left;
}
.content-post-title a{
    font-size: 55px;
    font-weight: 900;
    margin: 22px 0;
    text-align: left;
    overflow-wrap: break-word;
    
}
.content-post{
    overflow-wrap: break-word;
}
.post{
    text-align:inherit;
    overflow-wrap: break-word;
    flex-wrap: wrap;
}
.post-header {
    border-bottom: 1px solid #333;
    margin: 0 0 50px;
    padding: 0 0 50px;
}
.post-meta{
    
    text-align: right;
    font-family: 'Inconsolata', monospace;
    display: inline-block;
    font-size: 18px;
    padding-top: 8px;
}
.date-tag {
    display: flex;
    flex-direction: column;
}
.tag {
    float: left;
    padding-top: 10px;
    width: 140px;
    height: 60px;
}
.tag .js {
    background-color: #ecdb54;
    color: #000!important;
    border-radius: 3px;
}
.tag .button {
    display: block;
    padding: 8px;

    margin-left: 0px;
    float: right;
}
.tags {
    float: left;
    padding-top: 10px;
    width: 140px;
    height: 60px;
}
.tags .js {
    background-color: #ecdb54;
    color: #000!important;
    border-radius: 3px;
}
.tags .button {
    display: block;
    padding: 8px;
    margin-left: 0px;
    float: right;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}
a {
    color: inherit;
    text-decoration: inherit;
}

.footer-tags {
    margin-bottom: 50px;
    float: none;
    padding-left: 0;
    font-weight: 500;
    width: 210px;
    height: 412px;
    font-size: 14px;
}


.footer-tags .button {
    float: none;
    display: inline-block;
    margin-top: 18px;
}
.tags .cli {
    background-color: #000;
    color: #fff!important
}

.tags .node {
    background-color: #026e00;
    color: #fff!important
}

.tags .express {
    background-color: #b565a7
}

.tags .git {
    background-color: #dd4132;
    color: #fff!important
}

.tags .network {
    background-color: #6b5b95;
    color: #fff!important
}

.tags .browser {
    background-color: #5b5ea6;
    color: #fff!important
}

.tags .pwa {
    background-color: #6f9fd8
}

.tags .react {
    background-color: #282c34;
    color: #61dafb!important
}

.graphql {
    background-color: white!important;
    border: 1px solid gray!important;
    color: #E10098!important
}

.tags .svelte {
    background-color: #ff3e00;
    color: #fff!important
}

.tags .vue {
    background-color: #00a591;
    color: #fff!important
}

.tags .js {
    background-color: #ecdb54;
    color: #000!important
}

.tags .cookbook {
    background-color: #eadedb;
    color: #333!important
}

.tags .css {
    background-color: #bc70a4;
    color: #fff;
}

.tags .devtools {
    background-color: #ce3175;
    color: #fff!important
}

.tags .lab {
    background-color: #95dee3;
    color: #000!important
}

.tags .services {
    background-color: #f7786b
}

.tags .libraries {
    background-color: #dd4132
}

.tags .go {
    background-color: #bfd641;
    color: #000!important
}

.tags .html, .tags .softskills {
    background-color: #f2552c
}


@media only screen and (max-width: 910px) {
    .single-post-container.has-sidebar {
           grid-template-columns: auto;
           grid-template-areas:
            "main"
            "sidebar";
    }
    .post{
        max-width: 740px;
    }
    .sidebar{
        max-width: 740px;
    }
    .content-post{
        max-width: 740px;
    }
    .video-container{
        max-width:820px;
     }
     .video-container iframe{
         max-width: 820px;
     }
 }
 @media only screen and (max-width: 500px) {
    .single-post-container.has-sidebar {
           grid-template-columns: auto;
           grid-template-areas:
            "main"
            "sidebar";
    }
    .post{
        max-width: 440px;
    }
    .sidebar{
        max-width: 440px;
    }
    .content-post{
        max-width: 440px;
    }
    .video-container{
       max-width:420px;
    }
    .video-container iframe{
        max-width: 420px;
    }
 }
 