<li class="archive-item">
  <a href="<%- config.root %><%- item.path %>">
    <span class="archive-date"><%= item.date.format('MMM DD, YYYY') %></span>
    <span class="archive-title"><%- item.title || item.link %></span>
  </a>
</li>
