<div class="page-container">
  <% if (item.title) { %>
    <div class="archive-header">
      <h1><%- item.title %></h1>
    </div>
  <% } %>
  <div class="page-content">
    <%- item.content %>
  </div>
</div>
