<div class="content-post ">
    
    <div class="post-header">
        <!-- Title -->
        <h2 class="content-post-title  ">
            <a class="content-title " href="<%- config.root %><%- item.path %>">
                <%- item.title || item.link%>
            </a>
        </h2>
       
       
    </div>
    
    <!-- Content -->
    <div class="item-content "  >
        <%- item.content %>
    </div>
</div>
