<li class="post-list-item">
  <a href="<%- config.root %><%- item.path %>" class="post-list-link">
    <span class="post-date"><%= item.date.format('MMM DD, YYYY') %></span>
    <span class="post-list-title"><%- item.title %></span>
  </a>
</li>
