<div class="header-main sm:-ml-3 md:-ml-4 lg:ml-2 xl:ml-10 pt-4  ">
    <h1 class="header-title "><strong><%= config.title %></strong></h1>
    <p class="header-subtitle "><% if (config.subtitle){ %><%= config.subtitle %><% } %></p>
    <p class="quote"></p>
</div>