<div class="after-footer flex px-10 pb-16 pt-8 text-gray-200 font-normal">
    <p class="text-sm leading-4">Terms & Conditions</p>
    <p class="ml-10 text-sm leading-4"> © plantyouridea.com</p>
</div>