<div class="flex justify-between px-12">
    <div class="main-head">
        <span class="main-head-s1">What's New</span>
        <span class="main-head-s2">Latest published posts</span>
    </div>
    <div>
        <button class="Browse-all">browse all <span> ▸</span>
    
        </button>
    </div>
</div>
