<div class="footer-container px-8 py-16  border-b ">
    <a class="" href="#">
            <span class="flex px-2 pb-8">
               <!-- <img class="h-8 w-8" src="/img/favicon.ico" alt=""> -->
               <img src="/img/favicon_plant.ico" alt="" width="30" height="20">
                <p class="align-middle font-extrabold text-white text-xl ml-1">
                     plantyouridea.com</p> 
            </span>
    </a>
    <div class="menu-container md:flex  justify-between leading-5 ml-3 ">
        <div class="flex w-3/5  ">
            <div>
                <h3 class="font-semibold mb-4 text-sm text-white">CONTENT</h3>
                <ul class="menu-item text-base leading-5  hover:text-xl">
                    <li class="pt-2 hover:text-gray-500 ">Courses</li>
                    <li class="pt-2 hover:text-gray-500 ">Lessons</li>
                    <li class="pt-2 hover:text-gray-500 ">Videos</li>
                    <li class="pt-2 hover:text-gray-500 ">Articles</li>
                </ul>
            </div>
            <div class="ml-8">
                <h3 class="font-semibold mb-4 text-sm text-white">ABOUT</h3>
                <ul class="menu-item text-base leading-5  hover:text-lg">
                    <li class="pt-2 hover:text-gray-500 ">Website</li>
                    <li class="pt-2 hover:text-gray-500 ">Courses</li>
                    <li class="pt-2 hover:text-gray-500 ">Instructor</li>
                    <li class="pt-2 hover:text-gray-500 ">Languages</li>
                </ul>
            </div>
        </div>
        <div class="w-4/5 sm:w-3/5 md:w-2/5 md:ml-32 md:mt-0 mt-16">
            <h3 class="mb-4 text-white text-xl">Search for the courses & lessons</h3>
            <div class="flex w-full">
                <input class="footer-search bg-gray-800 rounded-l-md w-full pl-4 text-sm " type="text" placeholder="e.g. javavscript, Hexo">
                <button>
                    <i class="fa fa-search bg-blue-700 p-4 rounded-r-md text-white" aria-hidden="true"></i>
                </button>
            </div>
        </div>
    </div>
</div>