<div>
    <header class="px-8 py-4 flex justify-between">
        <div class="flex">
            <a class="" href="#">
                <span class="flex">
                   <!-- <img class="h-8 w-8" src="/img/favicon.ico" alt=""> -->
                    <p class="align-middle font-extrabold text-xl ml-1">🌱 plantyouridea.com</p> 
                </span>
            </a>
            <a  class="align-middle text-sm mt-1  mx-6" href="<%- url_for(page.title) %> "> <span class="text-gray-600">〈/〉</span> <%- theme.menu.topics.text %> </a>
            <a class="flex mx-6 text-sm align-items-center mt-1" href="#"> 
                <i class="fa fa-info-circle mt-1 mr-2 text-gray-600 " aria-hidden="true"></i>
                 <%- theme.menu.browse.text %>
            </a> 
        </div>
        <div>
            <a href="#">Sign in</a>
        </div>
    </header>
</div>