<div>
    <header class="px-8 py-4 flex justify-between">
        <div class="flex">
            <a class="" href="#">
                <span class="flex">
                    <img class="h-8 w-8" src="/img/favicon.ico" alt="">
                    <p class="align-middle font-extrabold text-xl ml-1">chetansachdev.com</p> 
                </span>
            </a>
            <a  class="align-middle text-sm mt-1  mx-6" href="#"> <span class="text-gray-600">〈/〉</span> Topics</a>
            <a class="flex mx-6 text-sm align-middle mt-1" href="#"> <svg class="fill-current text-gray-600 mr-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path class="heroicon-ui" d="M7 5H5v14h14V5h-2v10a1 1 0 0 1-1.45.9L12 14.11l-3.55 1.77A1 1 0 0 1 7 15V5zM5 3h14a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5c0-1.1.9-2 2-2zm4 2v8.38l2.55-1.27a1 1 0 0 1 .9 0L15 13.38V5H9z"/></svg> Browse Catalog
            </a> 
        </div>
        <div>
            <a href="#">Sign in</a>
        </div>
    </header>
</div>