<div>
    <header class="px-4 py-4 flex justify-between">
        <div class="flex w-full justify-between">
            <a class="" href="#">
                <span class="flex">
                   <!-- <img class="h-8 w-8" src="/img/favicon.ico" alt=""> -->
                   <img src="/img/favicon_plant.ico" alt="" width="30" height="20">
                    <p class="align-middle font-extrabold text-white text-xl ml-1">
                         plantyouridea.com</p> 
                </span>
            </a>
            <header class="pt-0 pr-0 ">
                <a href="#main-menu" id="main-menu-toggle" class="menu-toggle  no-underline  "  aria-label="Open main menu">
                  <span class="sr-only">Open main menu</span>
                  <span class="fa fa-bars text-white " aria-hidden="true"></span>
                </a>
                
                
                
                <nav id="main-menu" class="main-menu flex flex-col " aria-label="Main menu">
                  <a href="#main-menu-toggle" class="menu-close  no-underline " id="main-menu-close" aria-label="Close main menu">
                    <span class="sr-only">Close main menu</span>  
                    <span class="fa fa-close text-white" aria-hidden="true"></span>
                  </a>
                  <ul class="">
                    <li class=""><a href="<%- url_for(page.title) %>" class="text-white no-underline mt-2 " onclick="location.href ='<%- url_for(site.topics) %>' " >Services</a></li>
                    <li class="py-2"><a class=" no-underline    text-sm align-items-center text-white " href="#"> 
                        <!--<i class="fa fa-info-circle mt-1 mr-2 text-gray-600 " aria-hidden="true"></i>-->
                         <%- theme.menu.browse.text %>
                        </a>
                    </li>
                    <li class="py-2"><a href="#" class="text-white  no-underline ">Contact</a></li>
                    <div class="py-2">
                        <a href="#" class="text-white  text-sm  no-underline ">Sign in</a>
                    </div>
                  </ul>
                </nav>
                <a href="#main-menu-toggle" class="backdrop" tabindex="-1" aria-hidden="true" hidden></a>
            </header>
    
           <script>
               function myFunction(){
                   var x = document.getElementById('top-menu');
                   if (x.className === 'topnav'){
                       x.a.display = 'block';
                   }
               }
           </script>
          
                
        </div>
           
    </header>
</div>