<div>
    <header class="px-4 py-4 flex justify-between">
        <div class="flex w-full">
            <a class="" href="#">
                <span class="flex">
                   <!-- <img class="h-8 w-8" src="/img/favicon.ico" alt=""> -->
                   <img src="/img/favicon_plant.ico" alt="" width="30" height="20">
                    <p class="align-middle font-extrabold text-white text-xl ml-1">
                         plantyouridea.com</p> 
                </span>
            </a>
            <div class="top-nav  overflow-hidden flex w-full justify-between " id="top-menu">
                <div class="flex ">
                    <a  class="  align-middle text-sm mt-1 text-white ml-12 " href="<%- url_for(page.title) %>" onclick="location.href ='<%- url_for(site.topics) %>' ">
                        <span class=""><i class="fa fa-briefcase mr-1 text-gray-600" aria-hidden="true"></i>
                        </span> <%- theme.menu.topics.text %> 
                </a>
       
                <a class="  mx-6 text-sm align-items-center text-white mt-1" href="#"> 
                       <i class="fa fa-info-circle mt-1 mr-2 text-gray-600 " aria-hidden="true"></i>
                        <%- theme.menu.browse.text %>
                </a>
                </div>
                
                
                
                <div class="pr-4">
                   <a href="#" class="text-white text-sm">Sign in</a>
                </div>
                <a href="javascript:void(0);" class="icon" onclick="myFunction()"> <i class="fa fa-bars text-white  block float-right" aria-hidden="true"></i>
                </a>
           </div>
           <script>
               function myFunction(){
                   var x = document.getElementById('top-menu');
                   if (x.className === 'topnav'){
                       x.a.display = 'block';
                   }
               }
           </script>
                
        </div>
           
    </header>
</div>