<div class="intro-section justify-center items-center " id="intro">
    <div class="flex justify-center py-8 md:pt-0 md:float-right">
        <a href="">
            <img class="cks-img h-56 w-56 md:w-full md:h-full rounded-full shadow-2xl  " src="<%- theme.avatar %>" alt="">
        </a>
    </div>
    <div class="intro-text-container  w-3/5 ml-24  max-w-xl text-center  mx-8  md:text-left md:mx-0">
        <div class="flex flex-col justify-center">
            <h1 class="intro-h1 flex justify-center font-sans font-semibold text-5xl flex-wrap">Read the Articles Which can solve your Problem</h1>
            <h2 class="intro-h2 font-normal text-2xl">Videos link for better understanding</h2>
        </div>
        
        <div class="flex justify-center items-center md:flex md:justify-start ">
            <a class="start-btn my-16 rounded-lg text-center" href="">
                <span class="click-start  mt-1 shadow-2xl">CLICK TO START</span>
            </a>
        </div>
        
        
    </div>
    
</div>