<div class="quote-main">
    <div class="quote-sub">
        <img class="quote-img" src="img/quote-icon.svg" alt="">
        <p class="quote-text">Development is like martial arts. Practicing your foundations in HTML, CSS, and JS is always a good idea no matter what level you are on. 🔥 Wax on, wax off 🔥</p>
        <div class="author">
            <img class="cks" src="img/cksachdev.jpg" alt="" width="60" height="60">
            <cite class="cite">Chetan Sachdev , Plantyouridea</cite>
        </div>
    </div>
</div>