body{
    -webkit-font-smoothing: antialiased;
    
    min-height: 100vh;
    margin: 0;
    color: #63768d;
    font-family: -apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica neue,helvetica,ubuntu,roboto,noto,segoe ui,arial,sans-serif;
}
.head-container{
    background-color:#141618;
}

.search{
    max-width: 1216px;
    height: 48px;
    background-color: #21252d;
    color: #B0B6BE;
}
.search-container{
    width: 1216px;
    height: 48px;
}
.intro-section{
    background-image:linear-gradient(170deg,#212A39 0%,#181E28 100%);
    height: 100%;
}
.intro-container{
    background-image:linear-gradient(170deg,#212A39 0%,#181E28 100%)
}
.intro-h1{
    color:#fff;
    font-size: 28px;
    font-weight: 500;
    flex-wrap: wrap;
    font-family: sans-serif;
}
.intro-h2{
    color: #B0B6BE;
    font-family: -apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica,helvetica neue,ubuntu,roboto,noto,segoe ui,arial,sans-serif;
}
@media (min-width: 768px){
  .intro-section {
    padding: 80px 40px;
  }
}
.start-btn{
    justify-content: center;
    background-color: #1345dd;
    color:#fff;
    text-decoration: none;
    padding: 8px 23px 8px 23px; 
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 1px;
    -webkit-box-pack: center;
    min-width: 180px;
    max-width: 260px;
    height: 48px;
    width: 254.66px;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
}
.start-btn:hover{
    max-width: 285px;
    height: 52px;
    width: 260px;
}

.cks-img:hover{
    height:230px ;
    width: 230px;
}
@media (min-width: 768px) {
    .cks-img:hover {
        width:328px;
        height: 328px;
    }
}
.cks-img{
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}
.card-container{
    background-color: #F4F7F9;
    padding-top: 64px;
    padding-bottom: 64px;
}
.main-head{
    display: flex;
    flex-direction: column;
}
.main-head-container{
    display: flex;
    justify-content: space-between;
    margin: 0 40px 0 40px;
}
.main-head-s1{
    color: #141618;
    font-size: 2.25rem;
    font-weight: 400;
}
.main-head-s2{
    color: rgba(0,0,0,.6);
    font-size: 1rem;
    font-weight: 400;
}
.Browse-all{
    background-color: #316aff;
    border-color: #316aff;
    font-size: .875rem;
    font-weight: 500;
    border-width: 1px;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
    padding: 16px 24px;
    transition: all .1s ease-in-out;
    color:#fff;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
}
.post-container{
    color: black;
    margin:48px 30px 48px 30px;
    display: flex;
    flex-wrap: wrap;
}
.post{
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}

.post-stub{
  width:80%;
  height:90%;
  background-color: #fff;
  text-align: center;
  
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}
.post-title-h2, .button-js {
   text-decoration: none;
}
.date-tag{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 50px 0px 0 0px;
}
.tags{
    font-size: 14px;
    border-radius: 0.2rem;
    margin-top: 8px;
    width:30%;
    height: 30px;
    text-align: center;
    background-color: #316aff;
    margin-right: 20px;
    padding:px 10px 8px 10px;
    -webkit-border-radius: 0.2rem;
    -moz-border-radius: 0.2rem;
    -ms-border-radius: 0.2rem;
    -o-border-radius: 0.2rem;
}
.button-js{
    font-weight: 700;
    height: 28px;
    color:#fff;
    
}
.post-meta{
    align-self: flex-end;
}
.post-img{
    width: 230px;
    height: 230px;
    margin-top: 48px;
    border-radius: 9999px;
    -webkit-border-radius: 9999px;
    -moz-border-radius: 9999px;
    -ms-border-radius: 9999px;
    -o-border-radius: 9999px;
}
.post-title-h2{
    height: 56px;
    color: #141618;
    font-size: 22px;
    font-weight: 400;
}
.about-container{
    background: #F4F7F9;
}
.tagcloud a{
    margin:10px;
    background-color: hsl(0, 0%, 100%);
    padding: 3em 3em;
    font-size: 40px;
    line-height: 25px;
    letter-spacing: normal;
    color:hsla(0, 0%, 0%, 0.9);
}
.tagcloud{
    width:40%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.about-heading{
    color:hsla(0, 0%, 0%, 0.9);
    font-size: 36;
    font-weight: 500;
    line-height: 50px;
    margin:0 0 30px;
    
}
.footer-container{
    background-color:#141618;
}
.after-footer{
    color: rgb(127, 129, 130);
}
.menu-item{
    color: rgb(127, 129, 130);
}
.footer-search ::placeholder{
    color: rgb(80, 81, 82);
}
.placeholder-red-400::placeholder {
    color: hsl(0, 1%, 54%)
}
.footer-container{
    border-color: hsla(0,0%,100%,.05);;
}
.footer-search{
    background-color: hsl(220, 15%, 15%);
}
code{
    
}
@media (max-width: 500px){
    .menu-container{
      display: flex;
      flex-direction: column;
    } 
}

/* hamburger */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
  }
  
  /* Button styling */
  .menu-toggle {
    display: inline-block;
    padding: .75em 15px;
    line-height: 1em;
    font-size: 1em;
    color: #333;
  }
  
  .menu-toggle:hover,
  .menu-toggle:focus {
  }
  
  /*
   Default styles + Mobile first
   Offscreen menu style
  */
  .main-menu {
    position: absolute;
    display: none;
    left: -200px;
    top: 0;
    height: 100%;
    overflow-y: scroll;
    overflow-x: visible;
    transition: left 0.3s ease,
          box-shadow 0.3s ease;
    z-index: 999;
  }
  
  .main-menu ul {
    list-style: none;
    margin: 0;
    padding: 2.5em 0 0;
    /* Hide shadow w/ -8px while 'closed' */
    -webkit-box-shadow: -8px 0 8px rgba(0,0,0,.5);
       -moz-box-shadow: -8px 0 8px rgba(0,0,0,.5);
            box-shadow: -8px 0 8px rgba(0,0,0,.5);
    min-height: 100%;
    width: 500px;
    background: #1a1a1a;
  }
  
  .main-menu a {
    display: block;
    padding: .75em 15px;
    line-height: 1em;
    font-size: 1em;
    color: #fff;
    text-decoration: none;
    border-bottom: 1px solid #383838;
  }
  
  .main-menu li:first-child a {
    border-top: 1px solid #383838;
  }
  
  .main-menu a:hover,
  .main-menu a:focus {
    background: #333;
    text-decoration: underline;
  }
  
  .main-menu .menu-close {
    position: absolute;
    right: 0;
    top: 0;
  }
  
  
  /*
   More to come here...
  */
  
  
  /*
   Demo purposes only
  */
  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }
  
  header {
    padding: 20px;
    display: flex;
    align-items: baseline;
  }
  
  article {
    padding: 30px;
    width: 55em;
    font-size: 16px;
    line-height: 1.5em;
  }
  
  article h2 {
    font-weight: 500;
    font-size: 28px;
  }
  
  .logo {
    margin: 0 30px 0 10px;
    font-size: 1.5em;
  }
  .main-menu:target,
.main-menu[aria-expanded="true"] {
  display: block;
  left: 0;
  outline: none;
  -moz-box-shadow: 3px 0 12px rgba(0,0,0,.25);
  -webkit-box-shadow: 3px 0 12px rgba(0,0,0,.25);
  box-shadow: 3px 0 12px rgba(0,0,0,.25);
}

.main-menu:target .menu-close,
.main-menu[aria-expanded="true"] .menu-close {
  z-index: 1001;
}

.main-menu:target ul,
.main-menu[aria-expanded="true"] ul {
  position: relative;
  z-index: 1000;
}

/* 
 We could us `.main-menu:target:after`, but
 it wouldn't be clickable.
*/
.main-menu:target + .backdrop,
.main-menu[aria-expanded="true"] + .backdrop{
  position: absolute;
  display: block;  
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 998;
  background: #000;
  background: rgba(0,0,0,.85);
  cursor: default;
}

@supports (position: fixed) {
  .main-menu,
  .main-menu:target + .backdrop,
  .main-menu[aria-expanded="true"] + .backdrop{
    position: fixed;
  }
}
@media (min-width: 768px) {
    .menu-toggle,
    .main-menu .menu-close {
      display: none;
    }
    
    /* Undo positioning of off-canvas menu */
    .main-menu {
      position: relative;
          left: auto;
          top: auto;
          height: auto;
      display: block;
    }
    
    .main-menu ul {
      display: flex;
      
      /* Undo off-canvas styling */
      padding: 0;
      -webkit-box-shadow: none;
         -moz-box-shadow: none;
              box-shadow: none;
      height: auto;
      width: auto;
      background: none;
    }
    
    .main-menu a {
      border: 0 !important; /* Remove borders from off-canvas styling */
    }
    
    .main-menu a:hover,
    .main-menu a:focus {
      background: none; /* Remove background from off-canvas styling */
    }
  }
  *,
*:before,
*:after {
  box-sizing: border-box;
}

header {
  padding: 20px;
  display: flex;
  align-items: baseline;
}

article {
  padding: 30px;
  width: 55em;
  font-size: 16px;
  line-height: 1.5em;
}

article h2 {
  font-weight: 500;
  font-size: 28px;
}

.logo {
  margin: 0 30px 0 10px;
  font-size: 1.5em;
}
