body{
    -webkit-font-smoothing: antialiased;
    background-color: #141618;
    min-height: 100vh;
    margin: 0;
    background: #232c3b;
    color: #63768d;
    font-family: -apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica neue,helvetica,ubuntu,roboto,noto,segoe ui,arial,sans-serif;
}
.head-container{
    min-height: 100vh;
}
.top-header{
    background-color: #141618;
}
.eh-section{
    max-width: 83.75rem;
}
.search{
    width: 1216px;
    height: 48px;
    background-color: #21252d;
    color: #B0B6BE;
}
.search-container{
    width: 1216px;
    height: 48px;
}