body{
    -webkit-font-smoothing: antialiased;
    background-color: #141618;
    min-height: 100vh;
    margin: 0;
    color: #63768d;
    font-family: -apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica neue,helvetica,ubuntu,roboto,noto,segoe ui,arial,sans-serif;
}
.head-container{
    min-height: 100vh;
}
.top-header{
    background-color: #141618;
}
.eh-section{
    max-width: 83.75rem;
}
.search{
    max-width: 1216px;
    height: 48px;
    background-color: #21252d;
    color: #B0B6BE;
}
.search-container{
    width: 1216px;
    height: 48px;
}
.intro-section{
    background-image:linear-gradient(170deg,#212A39 0%,#181E28 100%);
    display: flex;
}
.intro-h1{
    color:#fff;
    font-size: 48px;
    font-weight: 500;
    flex-wrap: wrap;
    font-family: sans-serif;
}
.intro-h2{
    color: #B0B6BE;
    font-family: -apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica,helvetica neue,ubuntu,roboto,noto,segoe ui,arial,sans-serif;
}
@media (min-width: 768px){
  .intro-section {
    padding: 80px 40px;
  }
}
.start-btn{
    background-color: #1345dd;
    color:#fff;
    text-decoration: none;
    padding: 8px 23px 8px 23px; 
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 1px;
    -webkit-box-pack: center;
    min-width: 180px;
    max-width: 260px;
    height: 48px;
    width: 254.66px;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
}
.start-btn:hover{
    max-width: 285px;
    height: 52px;
}

.cks-img:hover{
    height:330px ;
    width: 330px;
}
.cks-img{
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}