<div class="">
    
    <div class="">
        <!-- Title -->
        <h2 class="">
            <a class="" href="<%- config.root %><%- item.path %>">
                <%- item.title || item.link%>
            </a>
        </h2>
       
       
    </div>
    <div class=""  >
        <%- item.content %>
    </div>
    <!-- Content -->
    
</div>
