<div class="sidebar" >
    <div class="sidebar_img-container" >
      <a href="index.html">
        <img class="sidebar_img" src="/img/cksachdev.jpg" alt="" width="150" height="150">
      </a>
    </div>
    <div class="sidebar_title">
      <h1 class="sidebar_title-text"><%= config.title %> </h1>
    </div>
    
    <a class="sidebar_email" href="mailto:mail@chetansachdev.com">mail@chetansachdev.com</a>
  
    <div class="sidebar_searchbar">
      <input id="searchbar"  class="searchbar" onkeyup="search_post()"  type="text" placeholder="Search">
    </div>
    
    <div class="sidebar_menu">
        <a class="menu_item"  href=""> 
            <i  class="fa fa-home fa-lg " aria-hidden="true"></i>Home</a> 
        <a class="menu_item" href="">
             <i class="fa fa-archive " aria-hidden="true"></i> Archives</a>
        <a class="menu_item" href="https://github.com/cksachdev" target="_blank">
            <i class="fa fa-github " aria-hidden=""></i>  Github</a>
        <a class="menu_item" href="http://plantyouridea.com/services/" target="_blank"> 
            <i class="fa fa-briefcase" aria-hidden="true"></i> Services </a>
        <a class="menu_item" href="">
            <i class="fa fa-info-circle " aria-hidden="true">
        </i> About me</a>
        <a class="menu_item" href="">
            <i class="fa fa-money " aria-hidden="true">
        </i>Payment</a>
    </div>
</div>
<div class="sidebar_social">
    <a class="social-link" href="https://twitter.com/cksachdev" target="_blank">
        <i class="fa fa-twitter fa-lg " aria-hidden="true"></i>
        <span class="">Twitter</span>
    </a>
    <a class="social-link" href="https://www.linkedin.com/in/cksachdev/" target="_blank">
        <i class="fa fa-linkedin-square fa-lg " aria-hidden="true"></i>
        <span class="">Linkedin</span> 
    </a>
    <a class="social-link" href="https://www.facebook.com/cksachdev" target="_blank">
        <i class="fa fa-facebook-square fa-lg " aria-hidden="true"></i>
        <span class="">Facebook</span> 
    </a> 
</div>
  
<p class="sidebar_text">✉️ Questions? <a class="" href="mailto:mail@chetansachdev.com">Email me</a>  (no guest posts, no "add this link", no product placement or review requests pls)
</p>
  
  
<script>
    function search_post(){
      let input = document.getElementById("searchbar").value
      input = input.toLowerCase();
      let x = document.getElementsByClassName("post");
      for (i=0; i<x.length; i++){
        x[i].style.display = "flex";
      }
      if (input != '' ){
      for (i=0; i<x.length; i++){
         if (x[i].innerHTML.toLowerCase().includes(input)){
           x[i].style.display = "flex";
         }
         else{
           x[i].style.display = "none";
         }
      }
     }
    }

    

  </script>