<div class="" >
    <div class="" >
      <a href="index.html">
        <img class="" src="/img/cksachdev.jpg" alt="" width="150" height="150">
      </a>
    </div>
    <div class="">
      <h1 class=""><%= config.title %> </h1>
    </div>
    
    <a class="" href="mailto:mail@chetansachdev.com"><%- theme.email %></a>
  
    <div class="">
      <input  class=""  type="text" placeholder="Search">
    </div>
    
    <div class="sidebar_menu-list">
        <a class=""  href=""> 
            <i  class="fa fa-home fa-lg " aria-hidden="true"></i>Home</a> 
        <a class="" href="">
             <i class="fa fa-archive " aria-hidden="true"></i> Archives</a>
        <a class="" href="https://github.com/cksachdev" target="_blank">
            <i class="fa fa-github " aria-hidden=""></i>  Github</a>
        <a class="" href="http://plantyouridea.com/services/" target="_blank"> 
            <i class="fa fa-briefcase" aria-hidden="true"></i> Services </a>
        <a class="" href="">
            <i class="fa fa-info-circle " aria-hidden="true">
        </i> About me</a>
        <a class="" href="">
            <i class="fa fa-money " aria-hidden="true">
        </i>Payment</a>
    </div>
</div>
<div class="">
    <a class="" href="https://twitter.com/cksachdev" target="_blank">
        <i class="fa fa-twitter fa-lg " aria-hidden="true"></i>
        <span class="">Twitter</span>
    </a>
    <a class="" href="https://www.linkedin.com/in/cksachdev/" target="_blank">
        <i class="fa fa-linkedin-square fa-lg " aria-hidden="true"></i>
        <span class="">Linkedin</span> 
    </a>
    <a class="" href="https://www.facebook.com/cksachdev" target="_blank">
        <i class="fa fa-facebook-square fa-lg " aria-hidden="true"></i>
        <span class="">Facebook</span> 
    </a> 
</div>
  
<p class="">✉️ Questions? <a class="" href="mailto:mail@chetansachdev.com">Email me</a>  (no guest posts, no "add this link", no product placement or review requests pls)
</p>
  
  

<!-- <script>
function search_post(){
    let input = document.getElementById("searchbar").value
    input = input.toLowerCase();
    let x = document.getElementsByClassName("post-stub");
    for (i=0; i<x.length; i++){
    x[i].style.display = "flex";
    }
    if (input != '' ){
    for (i=0; i<x.length; i++){
        if (x[i].innerHTML.toLowerCase().includes(input)){
        x[i].style.display = "flex";
        }
        else{
        x[i].style.display = "none";
        }
    }
    }
}

function hide(){
    var x = document.getElementById("home");
    x.style.visibility = "hidden"
}

</script> -->