<!DOCTYPE html>
<html lang="en">
<%- partial('_partial/head') %>
<body class="">
    <div class="wrapper">
        <div class="container single-post-container has-sidebar">
            <div class=" flex justify-center">
                <%- partial('_partial/sidebar.ejs') %>
            </div>
            <div class="">
                <%- body %>
            </div>
            
        </div>
    </div>
    
    
    <%- partial('_partial/footer') %>
</body>
</html>