<!DOCTYPE html>
<html lang="en">
<%- partial('_partial/head') %>
<body class="bg-gray-900 text-black">

    <div class="grid grid-cols-2 ">
        <div class="w-1/2">
            <%- partial('_partial/sidebar.ejs') %>
        </div>
      
         <%- body %>
    </div>
    
    <%- partial('_partial/footer') %>
</body>
</html>