<!DOCTYPE html>
<html lang="en">
<%- partial('_partial/head') %>
<body class="">
    <div class="wrapper ">
        <h1 class=" w-auto"><%- partial('_partial/header') %> </h1>
        
        <div class="container single-post-container has-sidebar  ">
            
            
            <div class="side-page flex justify-center">
                <%- partial('_partial/sidebar.ejs') %>
            </div>
            <div class="sm:mx-8">
                
                <div class="post-page flex-row">
                     <%- body %>
                </div>
            </div>
                
        
           
            
        </div>
        
    </div>
    
    
  
</body>
</html>