<!DOCTYPE html>
<html lang="en">
<%- partial('_partial/head') %>

<body>
<%- partial('_partial/header') %> 
<main class="container">
    <div class="container single-post-container has-sidebar">
        <article class="post-container">
            <%- body %>
        </article>
        <aside class="page_aside">
          <%- partial('_partial/sidebar') %> 
        </aside>
    </div>
</main>
   
</body>
</html>