<!DOCTYPE html>
<html lang="en">
<%- partial('_partial/head') %>

<body>
<%- partial('_partial/header') %> 
<main class="page-wrapper">
    <div class="page">
        <article class="page_article">
            <%- body %>
        </article>
        <aside class="page_aside">
          <%- partial('_partial/sidebar') %> 
        </aside>
    </div>
</main>
   
</body>
</html>