<div class="blog-header text-white ">
    <h1 class="blog-title text-4xl font-bold"><strong><%= config.title %></strong></h1>
    <p class="lead blog-description text-gray-400 text-xl"><% if (config.subtitle){ %><%= config.subtitle %><% } %></p>
</div>