<div class="header-main text-white ">
    <h1 class=" text-2xl px-8 font-bold"><strong><%= config.title %></strong></h1>
    <p class="lead blog-description -mt-2 px-8 text-gray-500 text-xl"><% if (config.subtitle){ %><%= config.subtitle %><% } %></p>
    <p class="quote"></p>
</div>