<div class="header-main  ">
    <h1 class="header-title "><strong><%= config.title %></strong></h1>
    <p class="header-subtitle "><% if (config.subtitle){ %><%= config.subtitle %><% } %></p>
    <p class="quote"></p>
</div>