<!--<div class="">
    <div class="container">
        <nav class="nav">
            <%# for (var i in theme.menu){ %>
                <a class="nav-item" href="<%#- (theme.menu[i]) %>"><%#= i %></a>
            <%# } %>
        </nav>
    </div>
</div>